<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TestDummy</title>
    
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag    "application", :media => "all" %>

    <script src="http://beta.openbadges.org/issuer.js"></script>

    <style>
      body {
        padding-top: 50px;
      }
    </style>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <%= link_to 'TestDummy', '/', :class => 'brand' %>

          <div class="nav-collapse collapse">
            <ul class="nav">
              <li>
                <%= link_to 'OpenBadges', open_badges_path %>
              </li>
            </ul>

            <ul class="nav pull-right">
              <li>
                <% if !user_signed_in? %>
                  <%= link_to 'Login', new_user_session_path %>
                <% else %>
                  <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
                <% end %>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>