<h1>Listing alignments</h1>

<table class="table table-hover listing-table">

<% @alignments.each do |alignment| %>
  <tr>
    <td>
      <h4 class="name"><%= alignment.name %></h4>
      <p class="description"><%= alignment.url %><p>
      <p class="description"><%= alignment.description %><p>
    </td>
    <td class= 'badge-options-column'>
      <%= link_to 'Edit', edit_alignment_path(alignment) %>
      <%= link_to 'Destroy', alignment, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<%= button_to 'Create Alignment', new_alignment_path, :method => "get", class: 'btn btn-primary' %>